sources/static/schemas_misc/isolated/StandaloneInvestmentUnrealizedSchema_Isolated.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="InvestmentBase.xsd"/>
  <xs:element name="investmentRequest" type="InvestmentRequest"/>
  <xs:complexType name="InvestmentRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="investments">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="unrealized_investment" type="UnrealizedInvestmentData"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema> 
